################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Calculator/v15
/Calculator/bin/Debug
/Calculator/obj/Debug
/CalculatorTests/bin/Debug
/CalculatorTests/obj/Debug
/packages
.vs/Calculator/DesignTimeBuild/.dtbcache
